<!-- navbar.ejs -->

<head>
  <link rel="stylesheet" href="/public/css/nav.css">
  <link rel="stylesheet" href="/public/css/root.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
</head>
<div id="nav-wrapper">
  <div id="mobile" class="mobile-nav-container">
    <ul class="nav-list-mobile">
      <li><a href="/">Home</a></li>
      <li><a href="/portraits">Portraits</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/studio">Studio</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <nav class="navbar">
    <div id="logo-container" class="nav-container">
      <div class="nav-logo-container">
        <a class="nav-logo-anchor " href="/"><img class="nav-logo" src="/public/assets/global/logo.png" alt="logo"></a>
      </div>
    </div>
    <div id="mobile-controls" class="nav-container">
      <div class="nav-icon-container" id="icon-container">
        <i class="ri-menu-line ri-3x nav-icon active-icon"></i>
        <i class="ri-close-circle-line ri-3x nav-icon"></i>
      </div>
    </div>
    <div id="list-container" class="nav-container">
      <ul class="nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/portraits">Portraits</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/studio">Studio</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </nav>
</div>

<script src="https://unpkg.com/@phosphor-icons/web"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () { $("#icon-container").click(function () { $(".nav-icon").toggleClass("active-icon"), $("#mobile").toggleClass("active-list"), $(".nav-list-mobile").toggleClass("active-list") }) });
</script>