<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/root.css">
    <link rel="stylesheet" href="/public/css/contact.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <title>contact</title>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <div id="content-wrapper">
            <div class="content-container">
                <div class="content-text-container">
                    <p class="content-text">
                        35mm photographer based in LA
                    </p>
                </div>
                <hr class="content-hr-horiz">
                <ul class="content-list">
                    <li class="content-list-item"><a class="content-list-anchor" target="_blank"
                            href="https://www.instagram.com/softteddykisses/"><i class="ph ph-instagram-logo"></i>
                            softteddykisses</a></li>
                    <li class="content-list-item"><a class="content-list-anchor" href="mailto:noraenamor01@gmail.com"><i
                                class="ph ph-envelope"></i>
                            noraenamor01@gmail.com</a></li>
                </ul>
                <hr class="content-hr-horiz">
                <a class="content-list-anchor small-anchor" target="_blank" href="https://www.instagram.com/1kikiluvv/"><i
                       id="small-icon" class="ph ph-instagram-logo"></i>
                    1kikiluvv</a>
            </div>
        </div>
        <%- include('partials/footer.ejs') %>
            <script src="https://unpkg.com/@phosphor-icons/web"></script>
</body>

</html>