<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/dashboard.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Portraits | Dashboard</title>
</head>

<body>
    <div class="page-wrapper">
        <div class="nav-wrapper">
            <div class="welcome-container">
                <h1 class="header-text">
                    Portraits
                </h1>
            </div>
            <div class="nav-list">
                <div class="nav-child">
                    <div class="btn-contain">
                        <button id="btn1" class="btn" data-redirect="/dashboard">Dashboard</button>
                    </div>
                </div>
                <div class="nav-child">
                    <div class="btn-contain">
                        <button id="btn1" class="btn" data-redirect="/dashboard/help">Help</button>
                    </div>
                </div>
                <div class="nav-child">
                    <div class="btn-contain">
                        <button id="btn2" class="btn" data-redirect="/logout">Logout</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrapper">

            <div class="content-container">
                <div class="content-container-left">
                    <div class="control-wrapper">
                        <form id="add-item" action="/dashboard/add-item" method="POST" enctype="multipart/form-data">
                            <h2 style="text-decoration: underline;">Add Portrait</h2>
                            <div class="input-wrapper">
                                <input class="input" type="number" name="id" placeholder="ID" required>
                                <input class="input" type="text" name="title" placeholder="Title" required>
                                <input class="input" type="text" name="description" placeholder="Description" required>
                                <input class="input" type="text" name="tags" placeholder="Tags (Seperate by comma)">
                            </div>
                            <div class="images-wrapper">
                                <label for="image">Portrait Image</label>
                                <input id="image" class="input" type="file" name="image" required>
                                <label for="measure">Portrait Alt Image</label>
                                <input id="measure" class="input" type="file" name="alt" required>
                            </div>
                            <div class="button-wrap">
                                <button class="btn form-btn" id="add-btn" type="submit">Add Item</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="content-container-right">
                    <div class="preview-wrapper">
                        <div class="preview-container">
                            <h2 class="preview-header">New Portrait Preview</h2>
                            <div id="add-preview" class="preview">
                                <div class="preview-left">
                                    <img class="preview-img" id="preview-img1" src="/public/assets/placeholder.jpg">
                                </div>
                                <div class="preview-right">
                                    <h2 class="preview-title" id="preview-title1"></h2>
                                    <p class="preview-description" id="preview-description1"></p>
                                    <hr class="preview-hr">
                                    <p class="preview-tags" id="preview-tags1"></p>
                                    <hr class="preview-hr">
                                    <div class="preview-btn-wrapper">
                                        <div class="preview-btn-contain">
                                            <button class="preview-btn">Buy!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-container">
                <div class="content-container-left">
                    <div class="control-wrapper">
                        <form id="edit-item" action="/dashboard/edit-item" method="POST" enctype="multipart/form-data">
                            <h2 style="text-decoration: underline;">Edit Portrait</h2>
                            <div class="input-wrapper">
                                <input class="input" type="number" name="id" id="item-id" placeholder="Item ID"
                                    required>
                                <input class="input" type="text" name="title" placeholder="New Item Name">
                                <input class="input" type="text" name="description"
                                    placeholder="New Description"></input>
                                <input class="input" type="text" name="link" placeholder="New Link">
                            </div>
                            <div class="images-wrapper">
                                <label class="images-input" for="edit-image">New Image</label>
                                <input id="edit-image" class="images-input input" type="file" name="image">
                                <label class="images-input" for=edit-alt">New Alt Image</label>
                                <input id="edit-alt" class="images-input input" type="file" name="alt">
                                <label class="images-input" for="edit-availability">New Availability</label>
                                <select id="edit-availability" class="images-input input" name="availability"
                                    placeholder="New availability">
                                    <option class="images-input" value="available">Available</option>
                                    <option class="images-input" value="sold">Sold</option>
                                </select>
                            </div>
                            <div class="button-wrap">
                                <button class="btn form-btn" id="edit-btn" type="submit">Edit Portrait</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="content-container-right">
                    <div class="preview-wrapper">
                        <div class="preview-container">
                            <h2 class="preview-header">Edited Portrait Preview</h2>
                            <div id="edit-preview" class="preview">
                                <div class="preview-left">
                                    <img class="preview-img" id="preview-img2" src="/public/assets/placeholder.jpg">
                                </div>
                                <div class="preview-right">
                                    <h2 class="preview-title" id="preview-title2"></h2>
                                    <p class="preview-description" id="preview-description2"></p>
                                    <hr class="preview-hr">
                                    <p class="preview-size" id="preview-size2"></p>
                                    <p class="preview-price" id="preview-price2"></p>
                                    <hr class="preview-hr">
                                    <div class="preview-btn-wrapper">
                                        <div class="preview-btn-contain">
                                            <button class="preview-btn">Buy!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content-container">
                <div class="content-container-left">
                    <div class="control-wrapper">
                        <form id="remove-item" action="/dashboard/remove-item" method="POST">
                            <h2 style="text-decoration: underline;">Remove Portrait</h2>
                            <input type="text" id="item-id2" name="id" placeholder="Item ID" required>
                            <div class="button-wrap">
                                <button class="btn form-btn" id="edit-btn" type="submit">Remove Portrait</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="content-container-right">
                    <div class="preview-wrapper">
                        <div class="preview-container">
                            <h2 class="preview-header">Removed Portrait Preview</h2>
                            <div id="remove-preview" class="preview">
                                <div class="preview-left">
                                    <img class="preview-img" id="preview-img3" src="/public/assets/placeholder.jpg">

                                </div>
                                <div class="preview-right">
                                    <h2 class="preview-title" id="preview-title3"></h2>
                                    <p class="preview-description" id="preview-description3"></p>
                                    <hr class="preview-hr">
                                    <p class="preview-size" id="preview-size3"></p>
                                    <p class="preview-price" id="preview-price3"></p>
                                    <hr class="preview-hr">
                                    <div class="preview-btn-wrapper">
                                        <div class="preview-btn-contain">
                                            <button class="preview-btn">Buy!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="help-wrapper">
            <div class="help-popup">
                <div class="add-help">

                </div>
                <div class="edit-help">

                </div>
                <div class="remove-help">

                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.btn').click(function () {
                var redirectUrl = $(this).data('redirect');
                window.location.href = redirectUrl;
            });
        });
    </script>
</body>

</html>