#nav-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 5vh;
}

#mobile-controls {
    display: none;
}

.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#logo-container {
    width: 40%;
}

.nav-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 60%;
}

.mobile-nav-container {
    position: relative;
    display: flex;
    height: 0;
    width: 0;
    transition: all 0.5s ease;
}

.nav-logo-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.nav-logo-anchor {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 3.2em;
    margin-left: 1vh;
    font-family: 'DM Serif Display', serif;
}

.small-anchor {
    margin-top: 2vh;
}

.nav-logo {
    position: relative;
    max-width: 60%;
    height: 100%;
    filter: invert();
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    font-size: x-large;
}

/* Add a CSS class to hide the mobile navigation by default */
.nav-list-mobile {
    opacity: 0;
    transition: all 0.5s ease;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2vh;
}

.nav-li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
  bottom: 2vh;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--alt-color-light);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
    width: 100%;
    left: 0;
    background: red;
}


@media (max-width: 768px) {
    #nav-wrapper {
        flex-direction: column;
    }

    #mobile-controls {
        display: flex;
        width: auto;
    }

    #logo-container {
        width: auto;
    }

    .navbar {
        justify-content: space-between;
    }

    .nav-logo {
        max-width: 100%;
    }

    .active-list {
        height: 40vh !important;
        width: 100% !important;
        opacity: 1 !important;
    }

    .nav-icon-container {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .nav-icon {
        display: none;
        margin: 2vh;
    }

    /* Hide the "ph-x-circle" icon by default */
    .ph-x-circle {
        display: none;
    }

    /* Style for the "active" icon */
    .active-icon {
        display: inline-block;
    }

    /* Hide the desktop navigation links */
    #list-container {
        display: none;
    }

    /* Show the mobile navigation links when the mobile button is clicked */
    #mobile.active .nav-list-mobile {
        display: flex;
    }
}

@media (max-width: 650px) {
    #nav-wrapper {
        margin-bottom: 0;
    }
}

@media (max-width: 420px) {
    #mobile-controls {
        width: 30%;
    }

    .nav-container {
        width: 70%;
    }

    .nav-icon-container {
        justify-content: center;
    }


}