/*----------------
|  Root Styling  |
----------------*/
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

:root {
    --text-h: rgb(0, 0, 0);
    --text-p: rgb(0, 0, 0);
    --nav-bg: #dff2fad2;
}


#temp-lock {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
}

.lock-img {
    position: relative;
    width: 25%;
}

#countdown {
    position: relative;
    font-size: xx-large;
    text-align: center;
    margin-top: 10vh;
}

#help-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#help-video {
    width: 100%;
    height: 100%;
}

#help-text {
    text-align: center;
    margin-top: 3vh;
    font-size: xx-large;
}

/*----------------
|   Nav Styling  |
----------------*/
.nav-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: rgb(115, 112, 172);
}

.welcome-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    text-decoration: underline;
}

.nav-list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 65%;
}

.nav-child {
    width: 25%;
    margin-left: 2vh;
    margin-right: 2vh;
}

/* Nav Button */
.btn-contain {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-href {
    width: 100%;
}

.btn {
    position: relative;
    width: 100%;
    border-radius: 10px;
    background: #333;
    text-align: center;
    z-index: 10;
    transition: 0.2s;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 1px 5px 2px #BFCEEF;
    font-size: x-large;
}

.btn a {
    color: var(--text-color);
}

@-webkit-keyframes rainbow {
    0% {
        border-color: hsl(0, 100%, 50%);
    }

    50% {
        border-color: hsl(120, 100%, 50%);
    }

    100% {
        border-color: hsl(255, 100%, 50%);
    }
}

@-webkit-keyframes fontsize {
    0% {
        font-size: xx-large;
    }

    25% {
        font-size: large;
    }

    50% {
        font-size: medium;
    }

    75% {
        font-size: large;
    }

    100% {
        font-size: xx-large;
    }
}

@keyframes rainbow {
    0% {
        border-color: hsl(0, 100%, 50%);
    }

    50% {
        border-color: hsl(120, 100%, 50%);
    }

    100% {
        border-color: hsl(255, 100%, 50%);
    }
}

@keyframes fontsize {
    0% {
        font-size: xx-large;
    }

    25% {
        font-size: large;
    }

    50% {
        font-size: medium;
    }

    75% {
        font-size: large;
    }

    100% {
        font-size: xx-large;
    }
}

.btn:hover,
.btn:focus {
    outline: none !important;
    color: white;
    border: 4px solid hsl(0, 100%, 50%);
    -webkit-animation: rainbow 2s infinite alternate;
    animation: rainbow 2s infinite alternate;
}

.btn:active {
    border: 4px solid hsl(0, 100%, 50%);
    -webkit-animation: rainbow 2s infinite alternate;
    -webkit-animation: fontsize 0.1s ease;
    animation: rainbow 2s infinite alternate;
    animation: fontsize 0.1s ease;
}

/* End Button */


.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
}

.content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-container-left,
.content-container-right {
    position: relative;
    display: flex;
    width: 50%;
}

.control-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.images-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.images-input {
    width: 50%;
}

.button-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.form-btn {
    width: 50%;
}

#select-all-btn {
    width: 30%;

}


#add-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.199);
    border: 5px solid #3c8681;
}

.input {
    position: relative;
    display: flex;
    margin: 10px;
}

.label {
    position: relative;
    display: flex;
    font-size: x-large;
}

.checkbox-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

#item-select {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    font-size: large;
}

#remove-item {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.199);
    border: 5px solid #3c8681;
}

.remove-input {
    position: relative;
    display: flex;
    margin: 10px;
    width: 3vh;
    height: 3vh;
    font-size: xx-large;
}


/*----------------
|  Preview Styling |
----------------*/
.preview-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 15px;
}

.preview-header {
    text-decoration: underline;
}

.preview-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.199);
    border: 5px solid #3c8681;
}

.preview-gallery {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}

.gallery-controls {
    text-align: center;
    margin-top: 10px;
    display: none;
}

.control-button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.control-button:hover {
    background-color: #555;
}


.preview {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.preview-left {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: fit-content;
}

.preview-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.preview-img,
.preview-measure-img {
    border-radius: 15px;
    margin: 20px;
    max-height: 90%;
    max-width: 90%;
    box-sizing: border-box;
}

.preview-img-remove {
    border-radius: 15px;
    margin: 15px;
    max-width: 40%;
    box-sizing: border-box;
}


.preview-measure-img {
    margin-top: 10px;
    /* Add a margin or padding between the images */
}


.preview-close {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.preview-active {
    filter: blur(2px);
}

.preview-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    text-decoration: underline;
    color: var(--text-h);
}

.preview-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    padding: 20px;
    color: var(--text-p);
}

.preview-size {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: var(--text-p);
}

.preview-price {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    color: var(--text-p);
}

.preview-btn-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.preview-hr {
    display: flex;
    width: 80%;
    margin: 10px;
    color: var(--text-p);
}

.preview-btn-contain {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview-btn {
    position: relative;
    border-radius: 10px;
    background: #333;
    text-align: center;
    z-index: 10;
    transition: 0.2s;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 1px 5px 2px #BFCEEF;
    font-size: xx-large;
}

.preview-btn:hover,
.preview-btn:focus {
    outline: none !important;
    color: white;
    border: 4px solid hsl(0, 100%, 50%);
    -webkit-animation: rainbow 2s infinite alternate;
    animation: rainbow 2s infinite alternate;
}

.preview-btn:active {
    border: 4px solid hsl(0, 100%, 50%);
    -webkit-animation: rainbow 2s infinite alternate;
    -webkit-animation: fontsize 0.1s ease;
    animation: rainbow 2s infinite alternate;
    animation: fontsize 0.1s ease;
}


@media (max-width: 768px) {
    .nav-wrapper {
        flex-direction: column;
    }

    .welcome-container {
        align-items: flex-start;
    }

    .header-text {
        margin-left: 2vh;
    }

    .welcome-container,
    .nav-list {
        width: 100%;
        height: 50%;
    }

    .nav-child {
        width: 30%;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .btn {
        width: 100%;
    }
    .preview-img-remove {
        margin: 10px;
    }
}

@media (max-width: 550px) {
    .content-container {
        flex-direction: column;
    }

    .content-container-left,
    .content-container-right {
        width: 100%;
    }

    .nav-child {
        width: 45%;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .btn {
        width: 100%;
    }
}

@media (max-width: 400px) {
    .preview-img-remove {
        margin: 10px;
    }
}